<ng-container *ngIf="applications && applications.length != 0 else noApplications">
  <ng-container class="flex overflow-x-auto" *ngFor="let app of applications | slice:0:5; index as i">
    <mat-card class="!inline-block border w-1/6 ml-2" [ngClass]="{'!border-green-400': app.status, '!border-red-400': app.status === false}">
      <ng-container *ngIf="listings[i]">
        <mat-card-header>{{listings[i].position}}</mat-card-header>
        <mat-card-subtitle class="text-center">{{listings[i].institution}}</mat-card-subtitle>
      </ng-container>
      <mat-card-footer>
        <div class="mb-2 text-center" *ngIf="app.status">Congratulations! You were accepted for this position.</div>
        <div class="mb-2 text-center" *ngIf="app.status === false">You were rejected for this position.</div>
        <div class="mb-2 text-center" *ngIf="app.status === undefined">Your application status is still pending.</div>
      </mat-card-footer>
    </mat-card>
  </ng-container>
  <div class="text-right">
    <button (click)="gotoApplications()" mat-button>See All Applications</button>
  </div>
</ng-container>
<ng-template #noApplications>
  <div class="ml-5">
    <p>You currently have no applications.</p>
  </div>
  <div class="text-right">
    <button (click)="gotoListings()" mat-button>Go to Listings</button>
  </div>
</ng-template>
