<ng-container *ngIf="applications && students.length > 0 else noApplications">
  <div class="w-full">
    <table mat-table [dataSource]="applications" class="w-full mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let application; index as i"> {{students[i].preferredName}} &MediumSpace; {{students[i].lastName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let application; index as i"> {{students[i].description}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="skills">
        <th mat-header-cell *matHeaderCellDef> Skills </th>
        <td mat-cell *matCellDef="let application; index as i">
          <mat-chip-listbox>
            <mat-chip *ngFor="let skill of students[i].skills | slice:0:3 ">{{skill}}</mat-chip>
          </mat-chip-listbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let application">
          <button mat-icon-button aria-label="expand row" matTooltip="View Application" matTooltipPosition="right" (click)="gotoApplication(application)">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
</ng-container>
<ng-template #noApplications>
  <div class="mt-4"></div>
  <p class="text-center">You have no applications.  Get the word out and check again!</p>
</ng-template>
