
<form [formGroup]="employerFormGroup">
  <ng-template matStepLabel>Additional Information</ng-template>
  <div class="flex">
    <label class="block w-1/2 mb-2 mr-1 text-sm font-medium text-gray-900 ">First Name</label>
    <label class="block w-1/2 mb-2 text-sm font-medium text-gray-900 ">Last Name</label>
  </div>
  <div class="flex">
    <input formControlName="firstName" class="bg-gray-50 mr-1 border inline-block border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 w-1/2 p-2.5" placeholder="John">
    <input formControlName="lastName" class="bg-gray-50 border w-1/2 inline-block border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600  p-2.5" placeholder="Doe">
  </div>
  <div class="mt-4">
    <label class="block mb-2 text-sm font-medium text-gray-900">Age</label>
    <input type="number" formControlName="age" class="bg-gray-50 border border-gray-300 text-gray-900 inline-block sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 w-1/2 p-2.5" placeholder="16">
  </div>
  <div class="mt-4">
    <label class="block mb-3 text-sm font-medium text-gray-900">Birthdate</label>
    <div class="flex">
      <label class="block w-1/4 mb-2 mr-1 text-sm font-medium text-gray-900">Day</label>
      <label class="block w-1/4 mb-2 mr-1 text-sm font-medium text-gray-900">Month</label>
      <label class="block w-1/4 mb-2 text-sm font-medium text-gray-900">Year</label>
    </div>
    <div class="flex">
      <input type="number" formControlName="day" class="bg-gray-50 mr-1 border border-gray-300 text-gray-900 inline-block sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 w-1/4 p-2.5" placeholder="DD">
      <input type="number" formControlName="month" class="bg-gray-50 mr-1 border border-gray-300 text-gray-900 inline-block sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 w-1/4 p-2.5" placeholder="MM">
      <input type="number" formControlName="year" class="bg-gray-50 border border-gray-300 text-gray-900 inline-block sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 w-1/4 p-2.5" placeholder="YYYY">
    </div>

    <div class="col-span-6">
      <label for="street-address" class="block text-sm font-medium text-gray-700">Address Line 1</label>
      <input type="text" disabled name="street-address" id="street-address" autocomplete="street-address" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
    </div>

    <div class="col-span-6">
      <label for="street-address" class="block text-sm font-medium text-gray-700">Address Line 2</label>
      <input type="text" disabled name="street-address" id="street-address" autocomplete="street-address" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
    </div>

    <div class="col-span-6 sm:col-span-6 lg:col-span-2">
      <label for="city" class="block text-sm font-medium text-gray-700">City</label>
      <input type="text" disabled name="city" id="city" autocomplete="address-level2" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
    </div>

    <div class="col-span-6 sm:col-span-3 lg:col-span-2">
      <label for="region" class="block text-sm font-medium text-gray-700">State / Province</label>
      <input type="text" disabled name="region" id="region" autocomplete="address-level1" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
    </div>

    <div class="col-span-6 sm:col-span-3 lg:col-span-2">
      <label for="postal-code" class="block text-sm font-medium text-gray-700">ZIP / Postal code</label>
      <input type="text" disabled name="postal-code" id="postal-code" autocomplete="postal-code" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
    </div>
  </div>

  <div class="mt-4">
    <label class="block mb-2 text-sm font-medium text-gray-900">Company / Institution</label>
    <input formControlName="company" class="bg-gray-50 border border-gray-300 text-gray-900 inline-block sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 w-full p-2.5">
  </div>
  <div class="mt-4">
    <button (click)="submitEmployer()" class="w-full text-gray-900 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg
    text-sm px-5 py-2.5 text-center dark:bg-primary-600 ">
    Submit
</button>
  </div>
</form>

