<section>
  <div class="p-8">
    <div>
      <h1>About</h1>
      <p>At Schoolfair, we believe that internships and research experiences are crucial for students looking to gain hands-on experience and make connections in their field. That's why we created a platform that connects students with employers looking to hire interns and research assistants.</p>
      <p>Our goal is to make it easy for students to find and apply for internships and research opportunities. We also want to make it easy for employers to post their opportunities and find the right candidates.</p>
      <p>Our team is made up of students from the Academies of Loudoun, and we are passionate about helping students find opportunities that will help them grow and succeed.</p>
    </div>
    <div>
      <h3>Why Schoolfair?</h3>
      <ul class="ml-4">
        <li>
          <h4>Convenience: </h4>
          <p class="indent-8">With Schoolfair, you can search and apply to opportunities all in one place. No more sifting through multiple websites or reaching out to multiple employers.</p>
        </li>
        <li>
          <h4>Personalized recommendations: </h4>
          <p class="indent-8">Our algorithm matches you with opportunities based on your profile and interests, so you can find the perfect fit.</p>
        </li>
        <li>
          <h4>Strong employer network: </h4>
          <p class="indent-8">We partner with top companies and organizations across a range of industries to bring you the best opportunities.</p>
        </li>
        <li>
          <h4>Active community: </h4>
          <p class="indent-8">Connect with other students and employers through our forums to share experiences and advice.</p>
        </li>
      </ul>
    </div>
    <div class="mt-8">
      <p class="font-semibold text-center ">Don't waste any more time on ineffective job searches. Join Schoolfair today and take control of your career path.</p>

    </div>
  </div>

</section>
