<section *ngIf="listing">
  <div class="flex flex-col items-center justify-center w-screen px-6 py-8 mx-auto mt-6 mb-14 lg:py-0">
      <div class="w-full rounded-lg shadow dark:border md:mt-0 xl:p-0">
          <div class="max-w-full p-6 space-y-4 min-w-fit md:space-y-6 sm:p-8" >
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
              {{listing.position}}
            </h1>
            <h2 class="text-sm font-bold leading-tight tracking-tight text-gray-900 md:text-sm">Description</h2>
            <div [innerHTML]="listing.description"></div>
          </div>
          <div class="px-4 py-3 text-right bg-gray-50 sm:px-6">
            <button *ngIf="roles.employer" (click)="gotoApplicationsPage()"  mat-button>View Applications</button>
            <button *ngIf="roles.student" (click)="gotoApplyPage()" mat-button>Apply</button>
          </div>
        </div>
  </div>
</section>
