<ng-container *ngIf="applications && listings.length !== applications.length">
  <div class="w-full">
    <table mat-table [dataSource]="applications" class="w-full mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let application; index as i"> {{getListing(application.listingId)?.position}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="institution">
        <th mat-header-cell *matHeaderCellDef> Institution </th>
        <td mat-cell *matCellDef="let application; index as i"> {{getListing(application.listingId)?.institution}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let application">
          {{application.status == undefined ? 'Pending' : application.status ? 'Accepted' : 'Rejected'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let application">
          <button mat-icon-button aria-label="expand row" matTooltip="See more" matTooltipPosition="right" (click)="gotoApplication(application)">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
</ng-container>
