<header class="bg-white shadow">
  <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
  </div>
</header>
<div *ngIf="user.roles?.student">
  <div class="w-full">
    <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <h1 class="text-xl font-bold tracking-tight text-gray-900">Your Applications</h1>
    </div>
    <app-preview-applications [userId]="user.uid"></app-preview-applications>
  </div>
</div>
<div *ngIf="user.roles?.employer">
  <div class="w-full">
    <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <h1 class="text-xl font-bold tracking-tight text-gray-900">Applicants</h1>
    </div>
    <app-preview-listings [userId]="user.uid"></app-preview-listings>
  </div>
</div>
